<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link type="text/css" href="/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <script src = "/js/jquery-1.11.3.min.js"></script>
    <script src = "/js/jquery.mobile-1.4.5.min.js"></script>
</head>



<body>
<div data-role = "page" id = "pageone">
    <div data-role = "header">
        <h1>Hospital Beds - Availability</h1>
    </div>

    <div data-role = "main" class = "ui-content">
        <ul id="itemsId" data-role="listview" data-filter="false">

            <li>
                <a th:href="@{${ch.covid19BedsAvl}}">Beds</a>
            </li>

            <li th:if="${ch.covid19BedsAvl2 != null}">
                <a th:href="@{${ch.covid19BedsAvl2}}">Beds(More...)</a>
            </li>

            <li th:if="${ch.covid19BedsIcuAvl != null}">
                <a th:href="@{${ch.covid19BedsIcuAvl}}">ICU Beds</a>
            </li>

            <li>
                <a th:href="@{'/v1/cd/' + ${cityName} + '/medicine/bed-OR-beds'}">Beds (Twitter)</a>
            </li>

            <li>
                <a th:href="@{'/v1/cd/' + ${cityName} + '/medicine/icu'}">ICU (Twitter)</a>
            </li>

            <li>
                <a th:href="@{'/v1/cd/' + ${cityName} + '/medicine/ventilator-OR-ventilators'}">Ventilator (Twitter)</a>
            </li>

            <li>
                <a th:href="@{'/v1/cd/' + ${cityName} + '/medicine/icu-OR-ambulance'}">Ambulance (Twitter)</a>
            </li>

        </ul>
    </div>

</div>
</body>
</html>