<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link type="text/css" href="/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <script src = "/js/jquery-1.11.3.min.js"></script>
    <script src = "/js/jquery.mobile-1.4.5.min.js"></script>
    <script src = "/js/"></script>
</head>



<body>
<div data-role = "page" id = "pageone">
    <div data-role = "header" data-theme="B">
        <h1>Delhi - Corona Info</h1>
    </div>

    <div data-role = "main" class = "ui-content">
        <ul id="itemsId" data-role="listview" data-filter="true" data-filter-placeholder="Search in City..." data-inset="true">
            <li>
                <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/about-face-coverings.html">
                    Information on Masks
                </a>
            </li>
            <li>
                <a href="https://timesofindia.indiatimes.com/most-searched-products/health-and-fitness/health-care/n95-pollution-masks-to-protect-you-from-infections-allergies-pollution/articleshow/73900613.cms">
                    Popular N95 Masks (Source - TOI)
                </a>
            </li>
            <li>
                <a href="https://www.businessinsider.in/insider-reviews/best-face-masks-to-buy-in-india/articleshow/82290124.cms">
                    Best Face Masks to buy
                </a>
            </li>
            <li>
                <a href="https://www.amazon.in/pcr/Top-Rated-Masks-Respirators-Reviews/8452605031">
                    Top Rated Masks (Amazon)
                </a>
            </li>
            <li>
                <a href="https://www.flipkart.com/industrial-scientific-supplies/safety-products/safety-masks-and-respirators/covid-comfort~brand/pr?sid=gsx%2Cbfk%2Cpmm&page=3">
                    Masks (Flipkart)
                </a>
            </li>
        </ul>
    </div>

    <div data-role = "footer">
        <h1>Join2Cure - Dashboard</h1>
    </div>
</div>
</body>
</html>