<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link type="text/css" href="/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <script src = "/js/jquery-1.11.3.min.js"></script>
    <script src = "/js/jquery.mobile-1.4.5.min.js"></script>
    <style>
        ul li h3 {
            white-space: normal !important;
            word-wrap:break-word;
            overflow-wrap: break-word;
        }
    </style>
</head>



<body>
<div data-role = "page" id = "pageone">
    <div data-role = "header" data-th-background="b">
        <h1 th:text="${medCity}"></h1>
    </div>




    <div data-role = "main" class = "ui-content">
        <ul id="itemsId" data-role="listview" data-filter="true" data-filter-placeholder="Search..." data-inset="true">
            <li>
                <a th:href="@{'/v1/cd/' + ${cityName} + '/medicine/fabiflu'}">Fabiflu</a>
            </li>
            <li>
                <a th:href="@{'/v1/cd/' + ${cityName} + '/medicine/remdesivir'}">Remdesivir</a>
            </li>
            <li>
                <a th:href="@{'/v1/cd/' + ${cityName} + '/medicine/favipiravir'}">Favipiravir</a>
            </li>
            <li>
                <a th:href="@{'/v1/cd/' + ${cityName} + '/medicine/tocilizumab'}">Tocilizumab</a>
            </li>
            <li>
                <a th:href="@{'/v1/cd/' + ${cityName} + '/medicine/plasma'}">Plasma</a>
            </li>
            <li>
                <a th:href="@{'/v1/cd/' + ${cityName} + '/medicine/test-OR-tests-OR-testing'}">Tests</a>
            </li>
        </ul>
    </div>



    <div data-role = "footer">
        <h1>Join2Cure - Dashboard</h1>
    </div>
</div>

</body>
</html>