<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link type="text/css" href="/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <script src = "/js/jquery-1.11.3.min.js"></script>
    <script src = "/js/jquery.mobile-1.4.5.min.js"></script>
    <script src = "/js/"></script>
</head>



<body>
<div data-role = "page" id = "pageone">
    <div data-role = "header" data-theme="B">
        <h1>Delhi - Corona Info</h1>
    </div>

    <div data-role = "main" class = "ui-content">
        <ul id="itemsId" data-role="listview" data-filter="true" data-filter-placeholder="Search in City..." data-inset="true">
            <li>
                <a href="https://indianexpress.com/article/technology/tech-news-technology/apps-maintain-social-distancing-6480428/">
                    Best Apps (Social Distancing)
                </a>
            </li>
            <li>
                <a href="https://www.mygov.in/aarogya-setu-app/">
                    Aarogya Setu
                </a>
            </li>
        </ul>
    </div>

    <div data-role = "footer">
        <h1>Join2Cure - Dashboard</h1>
    </div>
</div>
</body>
</html>